table{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    text-align:left;
    border-collapse:collapse;
    
}
table thead{
    border: 2px solid black;
}


.foto{
    width: 190px;
    height: 100px;
}
.headings{
    text-align: center;
    color: gray;
    font-size: 28px;
}
tr:nth-child(even) {
    background-color: #E9ECEF;
}